/*针对手机用户*/
.body{
    font-family:微软雅黑;
}
@media screen and (max-width: 1024px){
    #index_head{
        display: none;
    }
    /*抽奖栏*/
    .main-containter>div:last-child{
        width: 100%;
        height: 300px;
        background-color: lightcyan;
        align-items: center;
    }
    .main-containter>div:last-child>div{
        width: 90%;
        height: 90%;
        border: 1px solid lightpink;
        -webkit-transform: translate(5%,5%);
        -ms-transform: translate(5%,5%);
        transform: translate(5%,5%);
        background-color: #fff;
        text-align: center;
    }
    .main-containter>div:last-child>div div{
        border: 1px solid red;
        border-radius: 20px;
        height: 33.3%;
    }
    .unclick{
        background-color: lightgrey;
    }
    .active{
        background-color: lightgreen;
    }

    /*时间轴*/
    .log .title{
        font-size: 20px;
        font-weight: bold;
    }
    .log .log_date{
        color: #0a6ebd;
    }
    .log .log_data{
        font-size: 16px;
        font-family: 宋体;
    }
    .log .div_part{
        background-color: #e3f2fd;
        width: 60%;
        height: 100px;
        text-align: center;
        margin: 10px auto;
    }
}
@media(min-width: 1024px) {
    .jumbotron{
        margin-top: 70px;
        height: 35%;
        text-align: center;
        display: none;
    }
    /*标题头*/
    .main-containter>div:first-child{
        width:100%;
        height: 150px;
        background-color: lightyellow;
    }

    /*中信息栏*/
    .main-containter>div:nth-child(2){
        background-color: lightblue;
        width: 100%;
        height: 100px;
        text-align: center;
    }
    .main-containter>div:nth-child(2)>div{
        width: 50%;
        height: 50px;
        font-size: 24px;
        background-color: lightyellow;
        border: 1px solid lightyellow;
        border-radius: 50px;
        line-height: 50px;
        -webkit-transform: translate(50%,50%);
        -ms-transform: translate(50%,50%);
        transform: translate(50%,50%);
    }
    .main-containter>div:nth-child(2)>div>span{
        color: #00b3ee;
        font-size: 30px;
    }
    /*时间轴*/
    .log{
        display: inline-flex;
    }
    .div_part{
        background-color: #BFBFBF;
        width: 200px;
        height: 100px;
        text-align: center;
        margin: 170px 0px 0px 10px;
        float:left;
    }
}

