
<style>
    .navbar{
        height: 70px;
        text-align: center;
        line-height: 50px;
    }
    .nav-pills li>a{
        font-size: 17px;
        font-family: 黑体;
        color: #f0f0f0;
    }
    .nav-pills li>a:hover{
        color: #000000;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav nav-pills" style="float: left;margin-left: 50px;">
        <li role="presentation"><a href="index.php?do=index" target="_parent">首页</a></li>
        <li role="presentation"><a href="#">发留言</a></li>
    </ul>
    <ul class="nav nav-pills" style="float: right;margin-right: 50px;">
        <li role="presentation"><a href="index.php?do=login" target="_parent">登陆</a></li>
        <li role="presentation"><a href="index.php?do=reg" target="_parent">注册</a></li>
    </ul>
</nav>
